@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cinzel:wght@500;800&family=Ysabeau+SC:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    background-image: url("https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?w=1060&t=st=1699610675~exp=1699611275~hmac=077f1cd28cd3080697e803fcaafc61b7ccef9c0c3b4f20f2042081527c0794d7");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 16%;
    /* justify-content: center; */
    font-family: 'Black Ops One', cursive;
    font-family: 'Cinzel', serif;
    font-family: 'Ysabeau SC', sans-serif;
}
.card{
    width: 300px;
    height: 400px;
    background: white;
    border-radius: 20px;
    text-align: center;
    font-family: 'Black Ops One', cursive;
    font-family: 'Cinzel', serif;
    font-family: 'Ysabeau SC', sans-serif;
}
.card h2{
    text-align: center;
    margin:20px 0;
    text-transform: uppercase;
    letter-spacing: -0.2vh;
}
.card h1{
    font-size: 2vh;
    opacity: 0.6;
    letter-spacing: -0.1vh;
    text-transform: uppercase;

}
.card #user {
    padding: 2px;
    margin: 10px;

    
}
.card #pass {
    padding: 2px;
    margin: 10px;

    
}
#form h3{
    /* text-align: right; */
    /* padding-right: 26%; */
    font-size: 2vh;
    letter-spacing: -0.1vh;
    line-height: 2vh;
    opacity: 0.7;
    text-transform: capitalize;
}
#btn{
    margin-top: 30px;
    /* margin-left: 80px; */
    padding: 3px 58px;
    border-radius:20px;
    background: rgb(118, 236, 244);
    cursor: pointer;

    
}
.card h4{
    margin-top: 40px;
}
.footer{
    padding:10%;
    display: flex;
    font-weight: 600;
    font-size: 4vh;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}